	.back-btn-wrapper{
		width: 43px;
		height: 43px;
	}

	.back-btn{
		width: 43px;
		height: 43px;

		background: #008000;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		justify-items: center;
		align-items: center;
		align-content: center;
		margin: 39px 0 0 134px;
	}

	.reg-title{
		width: 240px;
		height: 24px;
		
		font-weight: 300;
		font-size: 40px;
		line-height: 87.3%;
		/* or 35px */

		display: flex;
		align-items: center;

		color: #121212;
		margin: 110px 0 0 136px;
	}

	.reg-form{
		margin: 60px 0 0 136px;
	}

	.input-form{
		border-top: none;
		border-right:none;
		border-left: none;
		border-bottom: 0.5px solid #7D7D7D;
		outline:none;
		width: 372px;
		height: 17px;
	}

	.names-form{
		margin: 0;
	}

	.phone-form{
		margin: 31px 0 0 0;
	}

	.index-form{
		margin: 31px 0 0 0;
	}

	.radio-btn-wrapper{
		margin: 12px 0 0 0;
	}

	.radio-btn{
		width: 10px;
		height: 10px;

		border: 0.5px solid #514A7E;
		margin: 0px 0 0 0;
	}

	.radio-text{
		width: 400px;
		height: 5px;

		font-weight: 100;
		font-size: 13px;
		line-height: 118%;
		/* or 9px */

		display: flex;
		align-items: center;
		text-align: center;

		color: #7D7D7D;
		margin: 3px 0 0 10px;
	}

	.send-btn{
		width: 148px;
		height: 37px;

		background: #008000;
		border: 0.5px solid #008000;
		margin: 60px 0 0 0;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.send-btn:hover{
		cursor: pointer;
	}

	.send-text{
		width: 76px;
		height: 9px;
	
		font-weight: 400;
		font-size: 14px;
		line-height: 16px;
		display: flex;
		align-items: center;

		color: #FFFDF5;
	}

	.white-middle-arrow{
		width: 26px;
		height: 4px;
	}

	.sign-btn{
		width: 149.28px;
		height: 37px;

		border: 0.5px solid #008000;
		margin: 60px 0 0 50px;
		text-decoration: none;

		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 16px;
		display: flex;
		align-items: center;

		color: #121212;
		display: flex;
		justify-content: center;
		align-items: center;
	}